/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #042953;
    color: white;
    padding: 25px;
    text-align: center;
    border-bottom: 4px solid #f8f8f9;
}

/* Navigation styling */
nav {
    background-color: #65b3d4;
    padding: 12px;
    text-align: center;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Section styling (Box Model focus) */
section {
    background-color: rgb(235, 255, 254);
    margin: 20px;
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #000304;
}

/* Image styling */
img {
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 150px;
    border-radius: 80%;
    border: 3px solid #4a90e2;
}

/* List styling */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* Footer styling */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 12px;
}